{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static i18n %}

{% block title %}
  Knowledge Manager - Signup
{% endblock title %}
{% block javascript %}
  {{ block.super }}
  <script defer src="{% static 'js/user-signup-page.min.js' %}"></script>
{% endblock javascript %}
{% block content %}
  <div class="container">
    <div class="row bg-white rounded-5 page-wrapper d-flex justify-content-center">
      <div id="login-page" class="container">
        <h1 class="h3 mb-3 fw-normal">{% translate "Create a new account" %}</h1>
        <form class="form-horizontal" method="post">
          {% csrf_token %}
          <div class="form-fields">
            <div class="form-names row">
              <div class="name col">{{ form.first_name|as_crispy_field }}</div>
              <div class="name col">{{ form.last_name|as_crispy_field }}</div>
            </div>
            <hr />
            <div class="form-email row">{{ form.email|as_crispy_field }}</div>
            <div class="form-passwords row">
              <div class="password col">{{ form.password|as_crispy_field }}</div>
              <div class="password col">{{ form.confirm_password|as_crispy_field }}</div>
            </div>
            <hr />
            <div class="invite-info row">
              <div class="invite-code col">{{ form.invite_code|as_crispy_field }}</div>
            </div>
          </div>
          <div class="form-buttons d-flex justify-content-center">
            <button type="submit" class="btn btn-primary py-3 px-5">Join Now</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
