#
# Example: env/secret
#
# To use, remove the .example extension
# and update the environment variables as needed
#

# Mailgun
# ------------------------------------------------------------------------------
MAILGUN_DOMAIN=""
MAILGUN_API_KEY=""
MAILGUN_WEBHOOK_KEY=""
