#
# Example: env/secret
#
# To use, remove the .example extension
# and update the environment variables as needed
#

# Mailgun
# ------------------------------------------------------------------------------
MAILGUN_DOMAIN=""
MAILGUN_API_KEY=""
MAILGUN_WEBHOOK_KEY=""

# Django
# ------------------------------------------------------------------------------
DJANGO_SUPERUSER_EMAIL="admin@example.com"
DJANGO_SUPERUSER_FIRST_NAME="John"
DJANGO_SUPERUSER_LAST_NAME="Doe"
DJANGO_SUPERUSER_PASSWORD="knowledge_admin"
DJANGO_SUPERUSER_API_KEY="999999999"

DJANGO_DEFAULT_FROM_EMAIL="Administrator <admin@example.com>"
CONTACT_NOTIFICATION_EMAIL="admin@example.com"
