#
# Example: env/secret
#
# To use, remove the .example extension
# and update the environment variables as needed
#

#
# Mailgun
# ------------------------------------------------------------------------------
MAILGUN_DOMAIN=""
MAILGUN_API_KEY=""
MAILGUN_WEBHOOK_KEY=""

# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_USER="knowledge_admin"
POSTGRES_PASSWORD="knowledge_admin"

# Redis
# ------------------------------------------------------------------------------
REDIS_PASSWORD="knowledge_admin"

# Django
# ------------------------------------------------------------------------------
DJANGO_SECRET_KEY="999999999"

DJANGO_SUPERUSER_EMAIL="admin@example.com"
DJANGO_SUPERUSER_FIRST_NAME="Site"
DJANGO_SUPERUSER_LAST_NAME="Admin"
DJANGO_SUPERUSER_PASSWORD="999999999"
DJANGO_SUPERUSER_API_KEY="999999999"

DJANGO_DEFAULT_FROM_EMAIL="Site Admin <admin@example.com>"
CONTACT_NOTIFICATION_EMAIL="admin@example.com"
